<div class="content" role="main">

  <input [class]="getClass()" value="Test ok" />

<!-- FIXME: Sobald ein "matInput" dabei ist wird das ganze bei jeder Aktion neu gezeichnet  -->
<!--  <input matInput [class]="getClass()" value="Test Problem" />-->

<!--  <form>-->
<!--    <mat-form-field appearance="standard">-->
<!--      <mat-label>Test</mat-label>-->
<!--      <input matInput [class]="getClass()" value="Test" />-->
<!--    </mat-form-field>-->
<!--  </form>-->
</div>

<router-outlet></router-outlet>
